*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/* main-nav */

.main-nav{
    width: 100%;
    height: 40px;
    background-color:rgb(57, 210, 227);
}
.text-logo{
    width: 40%;
    height: 40px;
    line-height: 40px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    float: left;
}
.text-logo:hover{
    font-size: 20px;
    transition: 1% ease-in;
    cursor: pointer;
}

.reg-login-box{
    width: 40%;
    height: 40px;
    line-height: 40px;
    color: white;
    font-family: sans-serif;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    visibility: visible;
}
.registration{
    float: right;
    color: white;
    font-size: 18px;
}
.registration:hover{
    transform:scale(1.1);
    cursor: pointer;
}

.line{
    width: 3px;
    height: 16px;
    background-color: white;
    margin: auto 10px auto 10px;
    
}
.login{
    font-size: 18px;
    color: white;
}
.login:hover{
    transform:scale(1.1);
    cursor: pointer;
}

.languages{
    width: 20%;
    height: 40px;
    line-height: 40px;
    color: white;
    float: right;
}

/* main nav2 */

.main-nav2{
    width: 100%;
    height: 120px;
}
.logopic{
    width: 250px;
    height: 120px;
    float: left;
    margin-left: 180px;
}
.logoo{
    width: 100%;
}
.menu{
    height: 70px;
    line-height: 70px;
    float: right;
    margin-top: 40px ;
    margin-right: 180px;
    visibility: visible;
}
a{
    font-size: 17px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-decoration: none;
}
a:hover{
    color: rgb(91, 91, 91);
}

/* boardpic */

.boardpic{
    width: 100%;
    height: auto;
}
.boardpicSize{
    width: 100%;
}

.text{
    position: relative;
    bottom: 200px;
}
.first-text{
    font-size: 40px;
    font-family: sans-serif;
    color: rgb(60, 60, 60);
    font-weight: 400;
    text-align: center;
    padding: 5px;
}
.second-text{
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(60, 60, 60);
    text-align: center;
    padding: 5px;
}
.btn{
    width: 150px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    text-align: center;
    background-color:rgb(30, 20, 108) ;
    margin: 8px auto 8px auto;
}
.btn:hover{
    color: black;
    font-size: 13px;
    font-weight: lighter;
    background-color: rgb(157, 157, 157);
    transition: 2px ease-in;
}

/* wings pic section */
.photosection{
    width: 100%;
    height: auto;
}
.photocontainer{
    margin: -150px 300px 20px 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    grid-gap: 50px;
}
.the-photo-size{
    width: 100%;

}
.the-photo-size:hover{
    transform:scale(1.1);
}

/* video section  */
.video{
    width: 100%;
    height: auto;
}
.video-container{
    min-height: 200px;
    margin: 20px 300px 20px 300px;  
     
}
.top-video-section{
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.video-line{
    width: 200px;
    border-bottom:2px solid rgb(61, 61, 61);
}
.vid-name{
    font-size: 45px;
    height: 45px;
    line-height: 45px;
    color:rgb(61, 61, 61) ;
    font-family: sans-serif;
    padding: 0px 40px 5px 40px;
    margin-bottom: -10px;

}

.vid-box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
}
.vid-box{
    margin: 20px 0px 40px 0px;
}
.video-size{
    width: 100%;
    height: 320px;
}
.text1{
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    margin: 20px 0px 10px 0px;
}
.text2{
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}

/* star p section  */
.star{
    width: 100%;
    height: auto;
}
.star-container{
    min-height: 200px;
    margin: 20px 300px 20px 300px;  
     
}
.top-star-section{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}
.star-line{
    width: 200px;
    border-bottom:2px solid rgb(61, 61, 61);
}
.star-name{
    font-size: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color:rgb(61, 61, 61) ;
    font-family: sans-serif;
    padding: 0px 40px 5px 40px;
    margin-bottom: -10px;
}

.star-pic-container{
    min-height: 300px;
    margin: 20px 0px 20px 0px;
    display: grid  ;
    grid-template-columns:repeat(auto-fit,minmax(350px, 1fr)) ;
    grid-gap: 40px;
}
.star1{
    background-color: rgb(192, 176, 161);
    max-height: 1000px;


}
.star2{
    max-height: 850px;
    background: linear-gradient(180deg, rgb(92, 230, 255),blue);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.starpicsize1{
    width: 100%;
    position: relative;
    bottom: 50px;
    padding-left: 100px;
    
}
.s-btn1{
    width: 150px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 25px;
    text-align: center;
    margin:0px auto  20px auto;
}
.camera{
    width: 80px;
    height: 25px;
    line-height: 25px;
    position: relative;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
    padding: 80px 0px 0px 80px;
    
}


.starpicsize2{
    width: 100%;
    position: relative;
    padding-top: 210px;
    padding-left:150px ;



}
.s-btn2{
    width: 150px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 25px;
    text-align: center;
    margin:0px auto  20px auto;
}
.s-t{

    width: 100%;
}




.star-pic-container2{
    min-height: 300px;
    margin: 20px 0px 20px 0px;
    display: grid  ;
    grid-template-columns:repeat(auto-fit,minmax(150px, 1fr)) ;
    grid-gap: 40px;
}
.star3{
    background-color: rgb(192, 176, 161);
    max-height: 580px;


}
.starpicsize3{
    width: 100%;
    position: relative;
    padding: 70px 30px 20px 30px;
}
.s-btn3{
    width: 150px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 25px;
    text-align: center;
    margin:0px auto  20px auto;
}
.note1{font-size: 30px;text-align: center;padding-top: 30px;}
.note2{font-size: 25px;padding-bottom: 2px;}
.note3{display: flex;flex-direction: column; font-size: 35px;text-align: center}


.star4{
    max-height: 570px;
    background: linear-gradient(180deg, rgb(92, 230, 255),blue);

    
}
.starpicsize4{
    width: 100%;
    position: relative;
    
}
.star4text{
    padding-bottom: 2px;
    text-align: center;
}
.s-btn4{
    background-color: f;
    width: 150px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 25px;
    text-align: center;
    margin:0px auto 20px auto;
}

.star5{
    background-color: rgb(192, 176, 161);
    max-height: 700px;


}
.starpicsize5{
    width: 100%;
    position: relative;
    padding: 20px 25px 0px 50px;
}
.s-btn5{
    width: 150px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 25px;
    text-align: center;
    margin:0px auto 20px auto;
}

/* WINGS MOBILE */
.wings{
    width: 100%;
    height: auto;
}
.wings-container{
    min-height: 200px;
    margin: 20px 300px 20px 300px;  
     
}
.top-wings-section{
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0px 50px 0px;
}
.wings-line{
    width: 200px;
    border-bottom:2px solid rgb(61, 61, 61);
}
.wings-name{
    font-size: 45px;
    height: 45px;
    line-height: 45px;
    color:rgb(61, 61, 61) ;
    font-family: sans-serif;
    padding: 0px 40px 5px 40px;
    margin-bottom: -10px;
    display: inline;
}


.w-text{
    background-color: rgba(0, 0, 0, 0.527);
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.sizing{
    width: 100%;
}
h3{
    font-size: 35px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.555);
    

}
#wings-p{
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.555);
    
}
.wingsbox2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    grid-gap: 40px;
    cursor: pointer;

}
.box2sub1{
    min-height: 350px;
    background: linear-gradient(180deg, yellow, rgb(55, 0, 255)) ;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.box2sub2{
    min-height: 350px; 
    display:flex;
    flex-direction: column;
    cursor: pointer;
}
.subsub-box{
    height: 170px;
    background: linear-gradient(180deg, green, rgb(4, 0, 255)) ;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 10px;

}
.subsub-box2{
    height: 170px;
    background: linear-gradient(180deg, green, rgb(4, 0, 255)) ;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#mobile-p{
    margin-top: -18px;
}

/* img section */
.img-container{
    width: 100%;
    height: auto;
}
.img-box{
    margin:  20px 300px 20px 300px; 

}
.img-size{
    width: 100%;
}

/* footerr */
.footerr{
    background-color: rgb(186, 187, 171);

}
.footer-container{
    min-height: 200px;
    margin: 20px 300px 0px 300px;  

}
.logs{
    color: rgb(0, 0, 0);
    text-align: right;
    padding: 30px 0px;
    cursor: pointer;
}
.footer-box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-gap: 90px;
}
.f-boxes{
    width: 300px;
    min-height: 250px;
    display: flex;
    flex-direction: column;

}
h4{
    font-size: 25px;
    padding-bottom: 20px;
    text-align: left;
    padding-left: 14px;
}
.f-boxes a{
    text-align: left;
    font-size: 20px;
    margin: -20px 0px 0px 0px;
}

.icons{
    padding: 40px;
    font-size: 15px ;
}

.awesome-font{
    width: 100%;
    vertical-align: 100%;
    background-color:  rgb(38, 40, 21);
    text-align: center;
}

footer{
    color: white;
    text-align: center;
    background-color: rgb(61, 61, 61);
    
}
p{
    font-size: 20px;
    padding: 20px;
}



@media(max-width:700px) {
    .reg-login-box{
        visibility: hidden;
    }
   .menu{
        visibility: hidden;
        float: none;
    }
    .photocontainer{
        margin: -150px 60px 20px 60px;
        display: flex;
        flex-direction: column;
        
    }
    .video-container{
        margin: 20px 60px 20px 60px;
          
    }
    .vid-name{
        font-size: 35px;
    }
    .vid-box-container{
        display:flex;
        flex-direction: column;
    }
    .star-container{
        margin: 20px 60px 20px 60px; 
    }
    .star-name{
        font-size: 35px;
    }
    .wings-container{
        margin: 20px 60px 20px 60px;
    }
    .star3,.star4,.star5{
        font-size: 15px;
    }




    .footer-container{
        margin: 20px 0px 0px 0px;  
    
    }
    .footer-box-container{
        display: flex;
        flex-direction: column;
        
    }
    .f-boxes{
        margin: auto;
        min-height: 250px;
        display: flex;
        flex-direction: column;
    
    }
    .logs{
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 15px 0px;
        cursor: pointer;
    }
    .note1,.note2,.note3{font-size: 10px;}
}
